<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="http:// xxx.com/register" id="registerForm" method="post">
      <div>请输入用户名：<input type="text" name="userName" /></div>
      <div>请输入密码：<input type="text" name="password" /></div>
      <div>请输入手机号码：<input type="text" name="phoneNumber" /></div>
      <button>提交</button>
    </form>
    <script>
      /*
    - 用户名不能为空。
    - 密码长度不能少于 6 位。
    - 手机号码必须符合格式。
    */
      var strate = {
        isEmpty(value, msg) {
          if (value === "") {
            return msg;
          }
        },
        minLength(value, length, msg) {
          if (value.length < length) {
            return msg;
          }
        },
        isPhoneNumber(value, msg) {
          if (/[0-9]{11,11}/.test(value)) {
            return msg;
          }
        }
      };

      let form = document.querySelector("#registerForm");
      form.onsubmit = () => {
        let msg = strate.isEmpty(form.userName.value, "用户名不能为空")
        if (msg) {
          alert(msg);
          return false;
        }
        let msg2 = strate.minLength(form.password.value, 6,"密码不能少于6位")
        if (msg) {
          alert(msg);
          return false;
        }
        let msg3 = strate.isPhoneNumber(form.phoneNumber.value,"手机号码格式不正确")
        if (msg) {
          alert(msg);
          return false;
        }
      };
    </script>
  </body>
</html>
